<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Bevestigen')"></head>
<body>
<nav th:replace="fragments::menu2"></nav>
<h1>Bevestigen</h1>
<p>
    <th:block th:text="${aantalMandje}"></th:block>
    film(s) voor
    <th:block th:text="${klantGekozen}"></th:block>
</p>
<form th:if="${aantalMandje}>0" method="post" th:action="@{/rapport}">
    <button>Bevestigen</button>
</form>
<footer th:replace="fragments::footer"></footer>
</body>
</html>