<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Retro Video')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1 th:if="not ${film}">Film niet gevonden:
    <th:block th:text="${id}"></th:block>
</h1>
<th:block th:if="${film}" th:object="${film}">
    <h1 th:text="*{titel}"></h1>
    <dl>
        <img th:src="@{/images/{id}.jpg(id=*{id})}" th:alt="*{titel}">
        <dt>Prijs:</dt>
        <dd>€
            <th:block th:text="*{prijs}"></th:block>
        </dd>
        <dt>Voorraad:</dt>
        <dd th:text="*{voorraad}"></dd>
        <dt>Gereserveerd:</dt>
        <dd th:text="*{gereserveerd}"></dd>
        <dt>Beschikbaar</dt>
        <dd th:text="*{beschikbaar}"></dd>
    </dl>
    <form th:if="*{isBeschikbaar()}" method="post" th:action="@{/mandje/{id}(id=*{id})}">
        <button>In mandje</button>
    </form>
</th:block>
</body>
</html>