<div lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link rel="icon" th:href="@{/images/retrovideo.ico}" type="image/x-icon">
        <script th:src="@{/js/preventDoubleSubmit.js}" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js}"></script>
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.2/css/all.css}"/>
        <style>
            body {background-color: #FFFFDE}
        </style>
        <link rel="stylesheet" th:href="@{/css/retrovideo.css}">
    </head>

    <nav th:fragment="menu1">
        <h2>RETRO VIDEO</h2>
        <ul>
            <li><a th:href="@{/}">Genres</a></li>
        </ul>
    </nav>

    <nav th:fragment="menu2">
        <h2>RETRO VIDEO</h2>
        <ul>
            <li><a th:href="@{/}">Genres</a></li>
            <li><a th:href="@{/mandje}">Mandje</a></li>
            <li><a th:href="@{/klanten/zoekKlant}">Klant</a></li>
        </ul>
    </nav>

    <footer th:fragment="footer">
        <p>© 2021 Retro Video</p>
        <p>Alle rechten voorbehouden <img th:src="@{/images/HD_logo.png}" height="10px"></p>
    </footer>
</div>