<div lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link rel="icon" th:href="@{/images/retrovideo.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/retrovideo.css}">
        <script th:src="@{/js/preventDoubleSubmit.js}" defer></script>
    </head>

    <nav th:fragment="menu1">
        <h2>RETRO VIDEO</h2>
        <ul>
            <li><a th:href="@{/}">Genres</a></li>
        </ul>
    </nav>

    <nav th:fragment="menu2">
        <h2>RETRO VIDEO</h2>
        <ul>
            <li><a th:href="@{/}">Genres</a></li>
            <li><a th:href="@{/mandje}">Mandje</a></li>
            <li><a th:href="@{/klanten/zoekKlant}">Klant</a></li>
        </ul>
    </nav>
</div>